* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */
.max-width-wrapper {
  margin: 64px 96px;
}

.title {
  margin-bottom: 48px;
}

.intro-chunk p {
  font-size: 1.25rem;
  width: fit-content;
  max-width: 320px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  border-top: 8px solid hsl(0deg, 0%, 30%);
  background-color: hsl(0deg, 0%, 60%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 24px 24px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  max-width: max-content;
  text-align: center;
  padding: 24px 16px;
  margin-top: -16px;
  margin-left: -36px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}
